body {
	position:relative;
	background-color:#000;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

@media ( max-width: 560px) {
	.col-md-4.col-sm-12.projectimage {
		margin-bottom:15px;
	}
}

.person {
	border:5px solid transparent;
	margin-bottom:25px;
	opacity:.8;
}

.person:hover {
	border-color:#176a6d;
}

.carousel-inner img {
	width:100%;
	height:100%;
/* Set width to 100% */
	margin:auto;
}

.carousel-caption h3 {
	color:#fff!important;
}

@media (max-width: 600px) {
	.carousel-caption {
		display:none;
	/* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}

.bg-1 {
	background:#2d2d30;
	color:#bdbdbd;
}

.bg-1 h3 {
	color:#fff;
}

.bg-1 p {
	font-style:italic;
}

.list-group-item:first-child {
	border-top-right-radius:0;
	border-top-left-radius:0;
}

.list-group-item:last-child {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}

.navbar {
	font-family:Montserrat,sans-serif;
	margin-bottom:0;
	background-color:#2d2d30;
	border:0;
	font-size:20px!important;
	letter-spacing:5px;
	opacity:.7;
}

.navbar li a,.navbar .navbar-brand {
	color:#d5d5d5!important;
	font-size:20px;
}

.navbar-nav li a:hover {
	color:#fff!important;
}

.navbar-nav li.active a {
	color:#fff!important;
	background-color:#29292c!important;
}

.navbar-default .navbar-toggle {
	border-color:transparent;
}

#projects {
	margin-bottom:70px;
}

.col-4 {
	margin-bottom:20px;
}

#proj {
	border-radius:25px;
}

.row {
	margin-left:1%;
	margin-right:1%;
	margin-top:30px;
}

.home {
	margin-bottom:20px;
}

.middle {
	transition:.5s ease;
	opacity:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	text-align:center;
}

.text {
	background-color:transparent;
	color:#ffc0cb;
	font-size:16px;
	padding:16px 32px;
}

#ser {
	text-align:center;
	color:#fff;
	font-family:LexendDeca Regular,sans-serif;
}

.col-sm-4:hover #proj {
	opacity:.3;
}

.col-sm-4:hover .middle {
	opacity:1;
}

.slideanim {
	visibility:hidden;
}

.slide {
	animation-name:slide;
	-webkit-animation-name:slide;
	animation-duration:1s;
	-webkit-animation-duration:1s;
	visibility:visible;
}

@keyframes slide {
	0% {
		opacity:0;
		transform:translateY(70%);
	}
	
	100% {
		opacity:1;
		transform:translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity:0;
		-webkit-transform:translateY(70%);
	}
	
	100% {
		opacity:1;
		-webkit-transform:translateY(0%);
	}
}

#about {
	margin-top:50px;
}

#mem {
	color:#fff;
	font-family:LexendDeca Regular,sans-serif;
}

.home {
	animation:slide 1s;
}

#txtmem {
	color:#fff;
	font-family:LexendDeca Regular,sans-serif;
}

#cntct {
	color:#fff;
	text-align:center;
	font-family:LexendDeca Regular,sans-serif;
}

#projdes {
	margin-top:13px;
	color:#fff;
	font-family:LexendDeca Regular,sans-serif;
	text-align:center;
}

#projimg {
	height:100px;
	width:auto;
}

#contact {
	margin-top:50px;
}

#serv {
	text-align:center;
}

.wrapper {
	width:100%;
	margin:0 auto;
}

.wrapper h2 {
	font-family:baloo;
	text-align:center;
	padding-top:5%;
	font-size:40px;
}

.section-padding {
	padding:15px 0;
}

.owl-dot {
	display:inline-block;
	height:5px!important;
	width:5px!important;
	background-color:#ffc0cb!important;
	border-radius:50%;
	margin:0 5px;
}

.owl-dots {
	text-align:center;
}

.owl-dot.active {
	background-color:#fff!important;
}

@media (max-height:800px) {
	footer {
		position:static;
	}
	
	header {
		padding-top:40px;
	}
}

.footer-distributed {
	background-color:#000;
	box-sizing:border-box;
	width:100%;
	text-align:left;
	font:bold 16px sans-serif;
	padding:50px 50px 60px;
	margin-top:80px;
}

.footer-distributed .footer-left,.footer-distributed .footer-center,.footer-distributed .footer-right {
	display:inline-block;
	vertical-align:top;
}

/* Footer left */
.footer-distributed .footer-left {
	width:30%;
}

.footer-distributed h3 {
	color:#fff;
	font:normal 36px LexendDeca,sans-serif;
	margin:0;
}

/* The company logo */
.footer-distributed .footer-left img {
	width:30%;
}

.footer-distributed h3 span {
	color:#ff1493;
}

/* Footer links */
.footer-distributed .footer-company-name {
	color:#8f9296;
	font-size:14px;
	font-weight:400;
	margin:0;
}

/* Footer Center */
.footer-distributed .footer-center {
	width:35%;
}

.footer-distributed .footer-center i {
	background-color:#33383b;
	color:#fff;
	font-size:25px;
	width:38px;
	height:38px;
	border-radius:50%;
	text-align:center;
	line-height:42px;
	margin:10px 15px;
	vertical-align:middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size:17px;
	line-height:38px;
}

.footer-distributed .footer-center p {
	display:inline-block;
	color:#fff;
	vertical-align:middle;
	margin:0;
}

.footer-distributed .footer-center p span {
	display:block;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a {
	color:#ff1493;
	text-decoration:none;
}

/* Footer Right */
.footer-distributed .footer-right {
	width:30%;
}

#clnt {
	color:#fff;
	text-align:center;
	font-family:LexendDeca Regular,sans-serif;
}

.footer-distributed .footer-company-about {
	line-height:20px;
	color:#92999f;
	font-size:13px;
	font-weight:400;
	margin:0;
}

.footer-distributed .footer-company-about span {
	display:block;
	color:#ff1493;
	font-size:18px;
	font-weight:700;
	margin-bottom:20px;
}

.footer-distributed .footer-icons {
	margin-top:25px;
}

.footer-distributed .footer-icons a {
	display:inline-block;
	width:35px;
	height:35px;
	cursor:pointer;
	background-color:#33383b;
	border-radius:3%;
	font-size:20px;
	color:#fff;
	text-align:center;
	line-height:35px;
	margin-right:3px;
	margin-bottom:5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
	.footer-distributed .footer-left,.footer-distributed .footer-center,.footer-distributed .footer-right {
		display:block;
		width:100%;
		margin-bottom:40px;
		text-align:center;
	}
	
	.footer-distributed .footer-center i {
		margin-left:0;
	}
}

.img-area {
	width:200px;
}

body {
	background-color:#222;
}

#preloader {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#loader {
	display:block;
	position:relative;
	left:50%;
	top:50%;
	width:150px;
	height:150px;
	margin:-75px 0 0 -75px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#9370DB;
	-webkit-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

#loader:before {
	content:"";
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#BA55D3;
	-webkit-animation:spin 3s linear infinite;
	animation:spin 3s linear infinite;
}

#loader:after {
	content:"";
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#F0F;
	-webkit-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	
	100% {
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	
	100% {
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

.navbar-right {
	width:60%;
}