body{
	background-color: black; 
}
.line{
	margin-top: 50px;
}
.prjdes{
  margin-top: 13px;
}
.btn-lg{
  border-radius: 25px;
  background-color: #fd2360;
  border: 0;
}
.glyphicon-chevron-left{
  color: black;
}
 @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
   
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .row{
  	animation: slide 1s;
  }