body{

    background-image:url(74441735_149245973130415_1127825336386453504_o.png);
    background-repeat:no-repeat;
    background-position:center;
  	background-size: cover;
  	background-attachment: fixed;
}






